h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-right: -125px;
    margin-top: 50px;
    position: relative;
    font-size: 70px;

}
.aboutpage p{ 
    color: rgb(255, 255, 255);
    text-align: right;
    margin-right: 150px;
    position: relative;
    margin-top: -59px;
    font-size: 20px;
}
h2{
    color: rgb(250, 250, 250);
    text-align: center;
    margin-right: -900px;
    position: relative;
    font-size: 70px;
}
@media(max-width:700px){
    h1{
        font-size: 40px;
    }
    .aboutpage p{
        font-size: 20px;
        margin-top: 40px;
        margin-left: 70px;
        position: relative;
    }
}